$OpenSans: 'Open Sans';
$Raleway: 'Raleway';
$Montserrat: 'Montserrat';
$Merriweather: 'Merriweather';
$SFProDisplay: 'SF Pro Display';


//colors
$white: #fff;
$main-text-color: #373A39;
$border-color-link: #FCBB08;